<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <h2>Login</h2>

    <div th:if="${param.error}" style="color: red;">
        Invalid email or password.
    </div>
    <div th:if="${param.success}" style="color: green;">
        You have successfully registered! Please login.
    </div>
    <div th:if="${param.logout}" style="color: blue;">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <p>
            <label>Email:</label>
            <input type="text" name="username" required placeholder="Enter email"/>
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password" required placeholder="Enter password"/>
        </p>
        <button type="submit">Sign In</button>
    </form>

    <br/>
    <a th:href="@{/registration}">Create new account</a> |
    <a th:href="@{/books}">Back to Books</a>
</div>
</body>
</html>